[access]
	inheritFrom = All-Projects
[project]
	description = ARCHIVED- 2022-02-15 at the request of the project\nIssue ID: IT-23624\n\nBase SDK Framework for the ONAP GUI. The GUI applications built using this SDK can be easily on-boarded onto ONAP Portal.
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-portal-sdk-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
