[access]
	inheritFrom = All-Projects
[project]
	description = Base SDK Framework for the ONAP GUI. The GUI applications built using this SDK can be easily on-boarded onto ONAP Portal.
[access "refs/*"]
	owner = group ldap/onap-gerrit-portal-sdk-committers
	owner = group saml/onap-gerrit-portal-sdk-committers
	read = group GitHub Replication
