.scrolling-table{
   width: 1200px;
}
.scrolling-table .scroll-viewport { 
    height: 200px !important;
    width: 99.5% !important;
    background-color:white;
}

.scrolling-table .scroll-overview{
    margin-top:-14px !important;
}

.scrolling-table .scroll-viewport:hover{
    background-color:white;
}

.workflow-popup-body{
	position: relative;
    padding: 30px;
} 
